<a href="https://colab.research.google.com/github/sadaqatali1234/practice/blob/master/spotify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Spotify.csv")

In [4]:
df.head()

                       ID  ... Popularité
0  4BJqT0PrAfrxzMOxytFOIz  ...          4
1  7xPhfUan2yNtyFG0cUWkt8  ...          5
2  1o6I8BglA6ylDMrIELygv1  ...          5
3  3ftBPsC5vPBKxYSee08FDH  ...          3
4  4d6HGyGT8e121BsdKmw9v6  ...          2

[5 rows x 18 columns]

In [5]:
df.isnull().sum()

ID                 0
Artistes           0
Titre              0
Durée              0
Année              0
Valence         4682
Acoustique      3558
Dansant         3720
Énergie         4699
Explicite       8251
Instrumental    1894
Tonalité        7618
Direct           651
Intensité       7452
Mode              88
Discours        6581
Tempo              0
Popularité         0
dtype: int64

In [6]:
df.fillna(method="ffill",inplace=True)

In [7]:
df.notnull().sum()

ID              170653
Artistes        170653
Titre           170653
Durée           170653
Année           170653
Valence         170653
Acoustique      170653
Dansant         170653
Énergie         170653
Explicite       170653
Instrumental    170653
Tonalité        170653
Direct          170653
Intensité       170653
Mode            170653
Discours        170653
Tempo           170653
Popularité      170653
dtype: int64

In [8]:
df.describe()

              Durée          Année  ...          Tempo     Popularité
count  1.706530e+05  170653.000000  ...  170653.000000  170653.000000
mean   2.309483e+05    1976.787241  ...     116.861590      31.431794
std    1.261184e+05      25.917853  ...      30.708533      21.826615
min    5.108000e+03    1921.000000  ...       0.000000       0.000000
25%    1.698270e+05    1956.000000  ...      93.421000      11.000000
50%    2.074670e+05    1977.000000  ...     114.729000      33.000000
75%    2.624000e+05    1999.000000  ...     135.537000      48.000000
max    5.403500e+06    2020.000000  ...     243.507000     100.000000

[8 rows x 13 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            170653 non-null  object
 1   Artistes      170653 non-null  object
 2   Titre         170653 non-null  object
 3   Durée         170653 non-null  int64
 4   Année         170653 non-null  int64
 5   Valence       170653 non-null  float64
 6   Acoustique    170653 non-null  float64
 7   Dansant       170653 non-null  float64
 8   Énergie       170653 non-null  float64
 9   Explicite     170653 non-null  object
 10  Instrumental  170653 non-null  float64
 11  Tonalité      170653 non-null  float64
 12  Direct        170653 non-null  float64
 13  Intensité     170653 non-null  float64
 14  Mode          170653 non-null  object
 15  Discours      170653 non-null  float64
 16  Tempo         170653 non-null  float64
 17  Popularité    170653 non-null  int64
dtypes: float64(10), int64(3), object(5)
memory usage: 23.4+ MB